html,
body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../IMG/capa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: "Lora", serif;
    color: #e61919;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
}
header h1 {
    font-size: 70px;
    padding-top: 10px;
    text-align: center;
}
section {
    flex: 1 0 auto;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 30px;
    align-items: center;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
    background-color: #2e2e2e;
}
.main h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.main p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.botao button {
    --glow-color: #e61919;
    --glow-spread-color: #e61919;
    --enhanced-glow-color: #fa4747;
    --btn-color: #e61919;
    width: 250px;
    height: 50px;
    color: #e61919;
    font-size: 15px;
    font-weight: bold;
    background-color: #f32e2e80;
    border-radius: 1em;
    outline: none;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}
.botao button:hover {
    color: #fff;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}
.botao button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}
.foot {
    flex-shrink: 0;
    margin: 5px 5px;
}