* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/assets/IMG/capa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Lora', serif;
    color: #e61919;
}
header {
    display: flex;
    justify-content: center;
}
header h1 {
    font-size: 70px;
    padding-top: 30px;
    text-shadow: -6px 6px 4px #000;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 50px;
    align-items: center;
}
.main p {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -6px 6px 4px #000;
}
.main img {
    width: 50%;
    margin-top: 50px;
}