* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/assets/IMG/capa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}